<%- include("header.ejs") %>

    <div class="container">
        <form id="userForm" action="/user" method="get">
            <h1 class="text-bg-success p-3">Search User</h1>
            <div class="mb-3">
                <label for="occupation" class="form-label">User Id</label>
                <input type="number" class="form-control" id="userid" placeholder="Enter User Id" name="id" required>
              </div>
              <button type="submit" class="mb-3 btn btn-success">Find User</button>
        </form>
    </div>

    <script>
        document.getElementById('userForm').addEventListener('submit', function(event) {
            event.preventDefault();
         const userId = document.getElementById('userid').value;
            this.action = `/user/${userId}`;
            this.submit();
    });
    </script>
</body>

</html>
