<%- include("header.ejs") %>

    <div class="container">
            <h1 class="text-bg-success p-3">User Not Found</h1>
            <a href="/"><button type="submit" class="mb-3 btn btn-success">Back</button></a>
    </div>
</body>

</html>
